.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  background-color: #282c34;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img.logo{
  height: 50px;
  border-right: solid aqua;
  border-radius: 5px;
}

.App-header a{
  /* border: solid white; */
  margin: 25px;
  padding: 2px;
  text-decoration: none;
  color: aliceblue;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition: .3s;
  border-radius: 5px;
}

.App-header a:hover{
  border: 3px solid aqua;
  margin: 25px;
  color: aqua;
}

.App-link {
  color: #61dafb;
}

.component-container{

}

/*############### BLOG CARD ################ */
.cards-container{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  /* height: 100%;
  width: 100%; */
  border: solid blue;
}

.blog-card{
  display:flex;
  border: solid;
  width: 85%;
  height: 150px;
  align-items: center;
}
.blog-card img{
  height: 120px;
  width: 180px;
}

.blog-details{
  display: flex;
  align-self: flex-start;
  width: 100%;
}

.blog-details p{
  align-self: center;
  margin-left: 10px;
  font-size: .8rem;
  font-style: italic;
}