.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  background-color: #282c34;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img.logo{
  height: 50px;
  border-right: solid aqua;
  border-radius: 5px;
}

.App-header a{
  border: solid white;
  margin: 25px;
  text-decoration: none;
  color: aliceblue;
}

.App-header a:hover{
  border: solid aqua;
  margin: 25px;
}

.App-link {
  color: #61dafb;
}